@tailwind base;

@tailwind components;

@tailwind utilities;

.a {
    @apply .text-teal-400 .text-xs;
}


.top-nav {
   @apply .text-gray-700 .text-sm .mr-4 .font-bold .pb-4 .border-b-2 .border-solid .border-transparent ;
}


.top-nav:hover {
  @apply .text-teal-400 .border-teal-400;
}


.text {
  @apply .text-gray-600 .text-sm .mr-4 .font-bold .pb-1 .border-solid .border-transparent  .py-2 .px-2;
}


.text:hover {
 @apply .text-teal-400 .border-teal-400 .bg-teal-100 rounded-full .py-2 .px-2;
}



.tooltip .tooltip-text {
  visibility: hidden;
  text-align: center;
  padding: 2px 6px;
  position: absolute;
  z-index: 100;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}